 {% extends 'user/base.html' %}


 {% block title %} cart {% endblock %}

 {% block content %}

 {% if messages %}
 {% for message in messages %}
 <script>
    alert("{{message}}")
 </script>
 {% endfor %}
 {% endif %}

 

 <div class="container">
    <div class="row">
        <div class="col-lg-9 ">
            {% if cdata %}
            <div class="row">
                {% for i in cdata %}
                <div class="col-lg-4 mt-4 ">
                    <a href="{% url 'details' i.id %}">
                    <div class="shadow border">
                        <figure>
                            <img src={{i.image.url}} alt="" width="100%" height="100%">
                            <figcaption>
                               <h5>Name : {{i.pname}} 
                                <span>{{i.price}}</span>
                                </h5> 
                               
                            </figcaption>
                            <div>
                                <form action="{% url 'removecart' i.id %}" method="post">
                                    {% csrf_token  %}
                                    <input type="submit" value="Remove_From_Cart" class="btn btn-danger">
                                </form>
                            </div>

                        </figure>
                    </div>
                </a>
                </div>
                {%  endfor  %}
            </div>
            {% else %}
            <h1 class="empty">Empty Cart</h1>
            {% endif %}
        </div>
        <div class="col-lg-3 mt-3">
            <form action=""  method="post">
                <button class="btn btn-danger"  style="width: 200px;">Total amount : {{amt}}</button>

            </form>

        </div>

    </div>

 </div>
 {% endblock %}